<h1>Edit Treatment</h1>

<%= render "form", appointment: @appointment, treatment: @treatment %>

<br>
<%= link_to "Back to appointment", appointment_path(@appointment), class: "btn btn-outline-secondary" %>